video {
  display: inline-block;
  width: 120px;
  margin-top: -10px;
  margin-left: 20px;
  z-index: 0;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.selfieVideoContainer {
  width: 120px;
  margin-top: 20px;
  position:absolute;
}

.hideSelfieVideo {
  display: none;
}

canvas .hidden {
  display: none;
}

.selfieVideoOverlay {
 position: relative;
 top:0;
 left:0;
 margin-top:50px;
 margin-left:10px;
 z-index:10;
}

#selfieToggleLabel {
  margin-right:5px;
}

#selfieToggle {
  margin-right:10px;
}

.selfieProgress {
  height:2px;
  width:0px;
  background-color: red;
  margin-top: -10px;
  margin-bottom: 10px;
}

.selfieProgressContainer {
  margin-left: 10px;
}

#selfieToggleLabel {
  margin-right:2px;
}

#selfieToggle {
  width: 55px;
  margin-right: 5px;
}

#totallyAwesomeSelfieButton {
  width: 90px;
  margin-left: 1px;
}

#totallyAwesomeSelfieIcon {
  font-size: 20px;
  margin-right: 5px;
  line-height: 0px;
  margin-left:-8px;
}
