video {
  display: inline-block;
  width: 140px;
  margin-top: -10px;
  z-index: 0;
}

.selfieVideoContainer {
  width: 140px;
}

.hideSelfieVideo {
  display: none;
}

canvas .hidden {
  display: none;
}

.selfieVideoOverlay {
 position: relative;
 top:0;
 left:0;
 margin-top:50px;
 margin-left:10px;
 z-index:10;
 margin:0 0 0 0;
}
