#selfieVideo {
  width: 224px;
  margin-top: 1px;
  margin-left:-94px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.hideSelfieVideo {
  display: none;
}

canvas .hidden {
  display: none;
}

.selfieVideoContainer {
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin-right: 10px;
  margin-top: -8px;
}

.selfieProgressContainer {
  width: 224px !important;
  margin-left:-23px !important;
}

.selfieProgress {
  height:2px;
  width:0px;
  background-color: red;
}

.selfieVideoOverlay {
 position: relative;
 top:0;
 left:0;
 margin-top:50px;
 margin-left:10px;
 z-index:10;
 margin:0 0 0 0;
}

#selfieToggleLabel {
  margin-right:5px;
}

#selfieToggle {
  margin-right:10px;
}

div.selfieProgress.newIssueSelfieProgress {
  height:2px;
  width:0px;
  background-color: red;
  float:right;
}

#totallyAwesomeSelfieButton {
  margin-right: 5px;
}

#totallyAwesomeSelfieIcon {
  font-size: 22px;
  margin-right: 5px;
  line-height: 0px;
}
