#selfieVideo {
  width: 224px;
  margin-top: 1px;
  margin-left:-94px;
}

.hideSelfieVideo {
  display: none;
}

canvas .hidden {
  display: none;
}

.selfieVideoContainer {
  width: 224px !important;
  float:right;
}

.selfieProgressContainer {
  width:247px !important;
  margin-left:-23px !important;
}

.selfieVideoOverlay {
 position: relative;
 top:0;
 left:0;
 margin-top:50px;
 margin-left:10px;
 z-index:10;
 margin:0 0 0 0;
}

#selfieToggleLabel {
  margin-right:5px;
}

#selfieToggle {
  margin-right:10px;
}

.selfieCheckBoxContainer.newIssueSelfieCheckBoxContainer {
  margin-left:346px;
}

div.selfieProgress.newIssueSelfieProgress {
  height:2px;
  width:0px;
  background-color: red;
  float:right;
}

#totallyAwesomeSelfieButton {
  margin-right: 5px;
}

.octicon.octicon-device-camera {
  font-size: 22px;
  margin-right: 5px;
  line-height: 0px;
}
