#selfieVideo {
  width: 224px;
  margin-top: 1px;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}

.hideSelfieVideo {
  display: none;
}

canvas .hidden {
  display: none;
}

.selfieVideoContainer {
  display: inline-block;
  width: auto;
  vertical-align: top;
  margin-right: 10px;
  margin-top: -8px;
}

.selfieVideoOverlay {
 position: relative;
 top:0;
 left:0;
 margin-top:50px;
 margin-left:10px;
 z-index:10;
 margin:0 0 0 0;
}

#js-new-comment-form-actions.expand {
  height:226px;
}

#js-new-comment-form-actions.expandSome {
  height:50px;
}

.selfieProgress {
  height:2px;
  width:0px;
  background-color: red;
}

.selfieProgressContainer {
  width: 224px !important;
  margin-left:-23px !important;
}

#selfieToggleLabel {
  margin-right:5px;
}

#selfieToggle {
  margin-right: 5px;
}

#totallyAwesomeSelfieButton {
  margin-right: 5px;
}

#totallyAwesomeSelfieIcon {
  font-size: 22px;
  margin-right: 5px;
  line-height: 0px;
}

.counter-container {
  padding-left: 64px;
  float: left;
  position: absolute;
}

.count {
  position: relative;
  float: left;
  z-index: 999;
  margin-top: 45px;
  font-size: 75px;
  text-shadow: -1px -1px 1px #999, 1px 1px 1px #222;
  color: #fff;
}
